*{
    box-sizing: border-box;
}

body{
    margin: 0
}

.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    
}

.nav li.active{
    background-color: #555;

}

.nav li:hover{
    background-color: #777;
}


body {
    background: #f5f5f5;
    margin-top: 0px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}



.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.ThreadObject {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.ThreadObject h1 {
  margin-top: 0;
}

.ThreadObject p {
  margin-bottom: 5px;
}

.ThreadObject button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.ThreadObject button:hover {
  background-color: #0056b3;
}

.ThreadObject i {
  margin-left: 10px;
  display: flex;
}

.CategoryObject {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.CategoryObject h1 {
    margin-top: 0;
}

.CategoryObject p {
    margin-bottom: 5px;
}

.CategoryObject button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.CategoryObject button:hover {
    background-color: #0056b3;
}

.CurrentCategory {
    margin-top: 20px;
}

.CurrentCategory h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.CurrentCategory p {
    margin-bottom: 20px;
}

.CurrentCategory a {
    text-decoration: none;
    color: #007bff;
}

.CurrentCategory a:hover {
    text-decoration: underline;
}

.ThreadContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.CurrentThread {
    margin-top: 20px;
}

.CurrentThread h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.CurrentThread h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.CurrentThread p {
    margin-bottom: 10px;
}

.CurrentThread i {
    margin-left: 5px;
}

.PostContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.Create-thread-dashboard{
    display: flex;
        position: absolute;
        right: 51px;
        top: 42px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
            
 }
        
.Create-thread-dashboard:hover {
     background-color: #0056b3;
}
.Form {
display: flex;
    flex-direction: row;
    align-items: normal;
    max-width: 503px;
    position: absolute;
    right: 282px;
    top: 36.5px;
    max-height: 32px;
    justify-content: space-between;
}

.Form label {
    margin-bottom: 5px;
}

.Form input,
.Form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -85px;
    top: 16px;
}

.Form button:hover {
    background-color: #0056b3;
}

.error{
    display: flex;
    position: absolute;
    top: 0px;
}

.EditThreadForm {
display: flex;
flex-direction: row;
max-width: 883px;
max-height: 60px;
}

.EditThreadForm input,
.EditThreadForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.EditThreadForm button {
    padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        position: relative;
        right: -17px;
        max-height: 48px;
}

.EditThreadForm button:hover {
    background-color: #0056b3;
}


.EditCategoryForm {
    display: flex;
        flex-direction: row;
        max-width: 883px;
        max-height: 60px;
}

.EditCategoryForm input,
.EditCategoryForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.EditCategoryForm button {
    padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        position: relative;
        right: -17px;
        max-height: 48px;
}

.EditCategoryForm button:hover {
    background-color: #0056b3;
}

.Create-Category{
    display: flex;
        position: absolute;
        right: 51px;
        top: 42px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
}

.Create-Category-Form {
    display: flex;
        flex-direction: row;
        align-items: normal;
        max-width: 503px;
        position: absolute;
        right: 282px;
        top: 36.5px;
        max-height: 32px;
        justify-content: space-between;
}

.Create-Category-Form label {
    margin-bottom: 5px;
}

.Create-Category-Form input,
.Create-Category-Form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Create-Category-Form button {
padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -85px;
    top: 16px;
}

.Create-Category-Form button:hover {
    background-color: #0056b3;
}

.Create-Post-Button{
    padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        
}

.PostForm {
    display: flex;
        flex-direction: row;
        align-items: normal;
        max-width: 503px;
}

.PostForm label {
    margin-bottom: 5px;
}

.PostForm input {
    width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

.PostForm button {
padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    position: absolute;
        left: 232px;
        bottom: -130px;
        }


.PostForm button:hover {
    background-color: #0056b3;
}
